<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="not-found">
      <!-- illustration -->
      <img src="../assets/404.svg" alt="not found" />
      <button class="button" onclick="document.location='/'">
        Back to Homepage <i class="bx bx-chevron-right bx-sm"></i>
      </button>
    </div>
  </body>
</html>
